/*
OEFENING 2A: verschillende achtergrondkleur naargelang de grootte
- kleiner dan 600px: groene achtergrond
- groter dan 600px: blauwe achtergrond
*/

h1 {
  color: white;
}

@media screen and (max-width: 600px) {
  body {
    background-color: green;
  }
}

@media screen and (min-width: 600px){
  body {
    background-color: blue;
  }
}