/* OEFENING 3B: verschillende opmaakkenmerken naargelang schermgrootte
- tot 768px:
        - tekst en afbeelding staan onder elkaar
        - tekst en afbeelding nemen hele breedte van het scherm in
        - tekst heeft padding aan zijkanten van 20px
        - tekst en afbeelding staan centraal uitgelijnd
- groter dan 768px
        - tekst en afbeelding staan naast elkaar
        - tekst en afbeelding nemen beide breedte in van 50%
        - afbeelding heeft een maximale breedte van 400px
        - tekst en afbeelding staan links uitgelijnd
*/

@media screen and (max-width: 600px){
  main, img {
    width: 100%;
  }
  article {
    padding: 0 20px;
  }
}

@media screen and (min-width: 600px){
  main {
    display: flex;
    gap: 20px;
  }

  img {
    width: 50%;
    max-width: 400px;
    height: 100%;
  }

  article {
    width: 50%;
  }
  
}