/* OEFENING 4: verschillende opmaakkenmerken krijgt naargelang de grootte
- tot 768px
    - twee films - tekst en afbeelding staan - onder elkaar
    - tekst en afbeelding nemen hele breedte van het scherm in
    - tekst heeft padding aan zijkanten van 20px
    - tekst en afbeelding staan centraal uitgelijnd 
- vanaf 768px
    - twee films staan naast elkaar
    - gap tussen films is 20px
*/

@media screen and (max-width: 768px){
  main, img {
    width: 100%;
  }
  article {
    padding: 0 20px;
  }
}

@media screen and (min-width: 768px){
  main {
    display: flex;
    gap: 20px;
  }

  section {
    flex: 50%;
  }

  img {
    width: 100%;
  }
}