nav a {
  background-color: yellow;
  padding: 20px;
  
color: black;
  text-decoration-line: none ;
  text-transform: uppercase;

}


nav a#item{order: 4;}
a:hover{

  background-color: red;
}
@media screen and (max-width: 600px) {
  a {
    display: block;

    text-align: center;

  }

}


@media screen and (min-width: 600px) {
  nav {
    display: flex;
    gap: 20px;
  
  }
  a{flex:25%;}
}